.CBRACKETS__PANEL
{
    MIN-HEIGHT: 200PX;
}

.CBRACKETS__TOOLBAR
{
    DISPLAY: FLEX;
    PADDING: 17PX 15PX;
}

.CBRACKETS__GROUP
{
    DISPLAY: FLEX;
    FLEX-DIRECTION: ROW;
}

.CBRACKETS__BUTTON
{
    DISPLAY: FLEX;
    PADDING: 6PX 11PX;
}

.CBRACKETS__BUTTON > IMG
{
    HEIGHT: 12PX;
}
